{% load static %}
{% static "img" as baseUrl %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Blood Lives</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- <script src="{% static 'css/login.css' %}"></script> -->
    <!------ Include the above in your HEAD tag ---------->

<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url("{% static 'img/bg5.jpg' %}");
        background-repeat: no-repeat;
        background-position: center;
      }
    
      #login .container #login-row #login-column #login-box {
        margin-top: 20px;
        max-width: 600px;
        height: 1325px;
        background-image: linear-gradient(45deg,  rgb(238, 0, 226), rgb(116, 8, 240), rgb(70, 8, 240), rgb(0, 38, 255));


      }
    
      #login .container #login-row #login-column #login-box #login-form {
        padding: 20px;
      }
    
      #login .container #login-row #login-column #login-box #login-form #register-link {
        margin-top: -85px;
      }
</style>

  </head>
  <body>

    <div id="login" style="padding-bottom: 100px;">
        <div class="container" style="padding-bottom: 100px; padding-top: 100px;">
            <h1 class="text-center" style="color: #ffffff; text-shadow: -1.5px 2px 4px #000000; font-family: New Century Schoolbook, TeX Gyre Schola, serif; font-size: 60px; padding-right: 100px;">
                <i><b>Blood Lives</b></i>
              </h1>
            <p class="text-center" style="color: #424242; font-family: New Century Schoolbook, TeX Gyre Schola, serif; font-size: 30px; padding-right: 100px;">Join with us to Save the Life</p>
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form action="usersignup" method="post" id="login-form" class="form">
                            {% csrf_token %} 
                            <h3 class="text-center text-info"  style="color: rgb(255, 255, 255) !important;">Signup</h3>
                            <div class="form-group">
                                <label for="username" class="text-info" style="font-size: 18px; color:  rgb(255, 255, 255) !important;">First Name:</label><br>
                                <input type="text" name="firstname" id="firstname" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info" style="font-size: 18px; color:  rgb(255, 255, 255) !important;">Last Name:</label><br>
                                <input type="text" name="lastname" id="lastname" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info" style="font-size: 18px; color:  rgb(255, 255, 255) !important;">Blood Group:</label><br>
                                <select name="bloodgroup" id="bloodgroup" class="btn btn-danger" required>
                                    <option value=""></option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info" style="font-size: 18px; color:  rgb(255, 255, 255) !important;">Email Address:</label><br>
                                <input type="email" name="email" id="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info" style="font-size: 18px; color:  rgb(255, 255, 255) !important;">Phone Number:</label><br>
                                <input type="text" name="phone" id="phone" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info" style="font-size: 18px; color:  rgb(255, 255, 255) !important;">Date of Birth:</label><br>
                                <input type="date" name="dob" id="dob" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="gender" class="text-info" style="font-size: 18px; color:  rgb(255, 255, 255) !important;">Gender:</label><br>
                                <select name="gender" id="gender" class="btn btn-danger" required>
                                    <option value=""></option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label for="address" class="text-info" style="font-size: 18px; color:  rgb(255, 255, 255) !important;">Address:</label><br>
                                <input type="text" name="address" id="address" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="district" class="text-info" style="font-size: 18px; color:  rgb(255, 255, 255) !important;">District:</label><br>
                                <select name="district" id="district" class="btn btn-danger" required>
                                    <option></option>
                                    <option value="Bagalkote">Bagalkote</option>
                                    <option value="Belgaum">Belgaum</option>
                                    <option value="Bijapur">Bijapur</option>
                                    <option value="Dharwad">Dharwad</option>
                                    <option value="Gadag">Gadag</option>
                                    <option value="Haveri">Haveri</option>
                                    <option value="Uttara Kannada">Uttara Kannada</option>
                                    <option value="Shimoga">Shimoga</option>
                                    <option value="Bangalore Rural">Bangalore Rural</option>
                                    <option value="Bangalore Urban">Bangalore Urban</option>
                                    <option value="Ramanagara">Ramanagara</option>
                                    <option value="Chikkaballapura">Chikkaballapura</option>
                                    <option value="Chitradurga">Chitradurga</option>
                                    <option value="Davanagere">Davanagere</option>
                                    <option value="Kolar">Kolar</option>
                                    <option value="Tumakuru">Tumakuru</option>
                                    <option value="Ballari">Ballari</option>
                                    <option value="Bidar">Bidar</option>
                                    <option value="Gulbarga">Gulbarga</option>
                                    <option value="Koppala">Koppala</option>
                                    <option value="Raichuru">Raichuru</option>
                                    <option value="Yadagiri">Yadagiri</option>
                                    <option value="Chamarajanagara">Chamarajanagara</option>
                                    <option value="Chikkamagaluru">Chikkamagaluru</option>
                                    <option value="Dakshina Kannada">Dakshina Kannada</option>
                                    <option value="Hassan">Hassan</option>
                                    <option value="Kodagu">Kodagu</option>
                                    <option value="Mandya">Mandya</option>
                                    <option value="Mysore">Mysore</option>
                                    <option value="Udupi">Udupi</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label for="state" class="text-info" style="font-size: 18px; color:  rgb(255, 255, 255) !important;">State:</label><br>
                                <input type="text" name="state" id="state" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="country" class="text-info" style="font-size: 18px; color:  rgb(255, 255, 255) !important;">Country:</label><br>
                                <input type="text" name="country" id="country" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info" style="font-size: 18px; color:  rgb(255, 255, 255) !important;">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmpassword" class="text-info" style="font-size: 18px; color:  rgb(255, 255, 255) !important;">Confirm Password:</label><br>
                                <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-primary btn-md" value="Submit">
                            </div>
                            <div id="register-link" class="text-right" style="padding-top: 40px;">
                                <a href="login"><span style="color: rgb(0, 180, 251); font-size: 18px;"><b>login here</b></span></a>
                            </div>
                        </form>
                        {% for message in messages %}
                            <h5 style="color: brown; text-align: center;">{{message}}</h5>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>